*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 100%;
    min-width: 100%;
    background-image: url(../img/Desktop\ -\ 1\ \(2\).png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center center;
    font-family: 'poppins' sans-serif;
}

main {
display: flex;
justify-content: center;
align-items: flex-start;
height: 100vh;


}
img {
    height: 90px;
    margin-right: 5%;
    
    
}

header {
    padding: 2%;
    align-items: center;
    display: flex;
    justify-content: center;
    
}

.conteudo {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.form {
    align-items: center;
    display: flex;
    justify-content: center;
}

h1{
    color: #fff;
    display: flex;
    justify-content: center;
    font-family: 'poppins';
    font-size: 60px;
    
}
input {
    width: 394px;
    height: 38px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0px 9px 5px 0px  rgb(14, 12, 12);
    padding-left: 6%;
}
button {
    width: 38px;
    height: 38px;
    border-radius: 10px;
    border-style: none;
    margin-right:7px ;
    box-shadow: 0px 9px 5px 0px rgb(14, 12, 12);
}
.lupa {
    width: 38px;
    height: 38px;
    border-radius: 10px;
    border-style: none;
    margin-right:5px ;
   
}

#conteiner {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

nav {
    display: flex;
    justify-content:center;
    align-items: center;

}

.usuario {
    background-color: aliceblue;
    padding: 40px 60px; 
    display: flex;
    flex-direction: column ;
    text-align: center;
    border-radius: 20px;
}

.cat{
    margin-bottom: 60px;
}

aside {
  background-color: aliceblue;
  height: 300px;  
  width: 300px;
  display: flex;
  flex-direction: column ;
  text-align: center;
  border-radius: 20px;
  justify-content: center;
  padding: 0px 30px;
   margin: 2%  2% 1%;
}
main {
    flex-direction: column;
    width: max-content;
}
.repositorios{
    background-color: #fff;
    height: 300px;
    width:  300px;
    padding: 2px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



